{% extends 'base.html' %}
{% block title %}Мої статті{% endblock title %}
{% block content %}
<h4>Ваші опубліковані статті:</h4>
{% if published_articles %}
    <ul class="published-articles">
    {% for article in published_articles %}
        <li><a class="link-author" href="{% url 'blog_detail' article.slug %}">{{ article|safe }}</a>   <a class="link-author" href="{% url 'delete_article' article.pk %}">- Видалити</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Поки що немає...</p>
{% endif %}
{% if unpublished_articles %}
<h4>Ваші неопубліковані статті(ті які пребувають на розгляді в адміністрації):</h4>
    <ul class="unpublished-articles">
        {% for article in unpublished_articles %}
            <li><a class="link-author" href="{% url 'blog_detail' article.slug %}">{{ article|safe }}</a>   <a class="link-author" href="{% url 'delete_article' article.pk %}">- Зняти із розгляду</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock content %}